# node_modules folder abd its files
node_modules

# .serverless folder and its files
.serverless

# .dynamodb folder and its files
.dynamodb



# Js package manager
jspm_packages

# environment files
*.env

# Editor folders
.idea
.vscode
.DS_Store
.prettierrc
nft-service/yarn.lock

pc
lambda/**/coverage
